@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color1: #141c2f;
    --color2: #1f2a48;
    --color3: #0079fe;

    --color4: #4e6999;
    --color5: #f4f7fe;
    --color6: #fefefe;
    --color7: #383b40;

    --font1: 'Space Mono', monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--color1);
    font-family: var(--font1), sans-serif;
    color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.2s;
}

.header, .user-profile {
    width: 600px;
    transition: 0.2s;
}

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.navbar-title {
    margin-right: auto;
}

.toggle-mode {
    cursor: pointer;
    background-color: transparent;
    font-family: var(--font1);
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
}

.toggle-mode > img {
    width: 20px;
    margin-left: 20px;
}

.search-form {
    background-color: var(--color2);
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
}

.search-form > img {
    height: 30px;
    width: 30px;
    margin: 0 25px;
}

.search-input {
    background-color: transparent;
    font-family: var(--font1);
    color: #FFF;
    height: 50px;
    width: 400px;
    border: none;
    font-size: 1em;
    margin-right: auto;
    text-indent: 5px;
    outline: none;
}

.search-input::placeholder {
    color: #FFF;
}

.search-button {
    cursor: pointer;
    background-color: var(--color3);
    font-family: var(--font1);
    color: #FFF;
    height: 50px;
    width: 90px;
    border: 1px solid var(--color3);
    border-radius: 10px;
}

.user-profile {
    background-color: var(--color2);
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile > img {
    width: 100px;
    height: auto;
    margin-right: 30px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.user-link {
    color: var(--color3);
}

.user-desc {
    margin: 30px 0;
}

.user-stats {
    background-color: var(--color1);
    display: flex;
    justify-content: left;
    padding: 10px 30px;
    border-radius: 10px;
}

.user-stats > div {
    margin-right: auto;
}

.user-stats > div > h2 {
    font-size: 1em;
    font-weight: 400;
}

.user-stats > div > h3 {
    font-size: 1.5em;
}

.contacts {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr;
    margin-top: 30px;
}

.contacts > a {
    text-decoration: none;
    color: #FFFFFF;
    
}

.no_contact, .contacts > .no_contact {
    color: #646f83;
}

.contacts > a > img {
    width: 20px;
    margin-right: 20px;
}

/*darkMode*/

.container.dark {
    background-color: var(--color5);
    color: var(--color7);
}

.container.dark .toggle-mode {
    color: var(--color4);
}

.container.dark .search-form {
    background-color: var(--color6);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.144);
    color: var(--color4);
}

.container.dark .search-input {
    color: var(--color4);
}

.container.dark .search-input::placeholder {
    color: var(--color4)
}

.user-profile.dark  {
    background-color: var(--color6);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.144);
}

.user-profile.dark .user-stats {
    background-color: var(--color5);
    color: var(--color4);
}

.user-profile.dark .contacts > a {
    color: var(--color4);
}

.user-profile.dark .join-date {
    color: var(--color4);
}

.user-profile.dark .user-desc {
    color: var(--color4);
}

/* Mobile version */

@media only screen and (max-width: 625px) {
    .header, .user-profile {
        max-width: 400px;
        transition: 0.2s;
    }

    .user-name {
        font-size: 1.2em;
    }

    .search-button {
        padding: 5px;
    }

    .join-date {
        font-size: 0.8em;
    }

    .user-stats {
        text-align: center;
        font-size: 0.8em;
    }

    .contacts {
        display: flex;
        flex-direction: column;
    }
}