:root {
    --color1: #141c2f;
    --color2: #1f2a48;
    --color4: #165da7;
    --color3: #0079fe;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.header, .user-profile {
    width: 600px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.navbar-title {
    margin-right: auto;
}

.search-form {
    background-color: var(--color2);
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
}

.search-input {
    background-color: transparent;
    color: #FFF;
    height: 50px;
    width: 400px;
    border: none;
    font-size: 1em;
    margin-right: auto;
    text-indent: 5px;
    outline: none;
}

.search-input::placeholder {
    color: #FFF;
}

.search-button {
    cursor: pointer;
    background-color: var(--color3);
    color: #FFF;
    height: 50px;
    width: 90px;
    border: 1px solid var(--color3);
    border-radius: 10px;
}

.user-profile {
    background-color: var(--color2);
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile > img {
    width: 100px;
    height: auto;
    margin-right: 30px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.user-link {
    color: var(--color4);
}

.user-desc {
    margin: 30px 0;
}

.user-stats {
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.user-stats > div > h2 {
    font-size: 1em;
    font-weight: 400;
}

.user-stats > div > h3 {
    font-size: 1.5em;
}

